@page
@model DepInfoCare.Pages.Authentication.LoginModel
@{
    ViewData["Title"] = "Login";
}

@if (ViewBag.Message != null)
{
    <div>
        @ViewBag.Message
    </div>
}

<form method="post">
    <div>
        <label>Username: </label>
        <input type="text" name="username" required />
    </div>
    <div>
        <label>Password: </label>
        <input type="password" name="password" required />
    </div>
    <button type="submit">Login</button>
</form>