@page
@model DepInfoCare.Pages.Facility.AddModel
@{
    ViewData["Title"] = Model.Breadcrumb.Title;
}

<div class="wrapper">
    <div class="container">
        <div class="container__title">
            @ViewData["Title"]
        </div>
        @if (ViewData["Failed"] != null)
        {
            <div class="container__message">
                Facility already exists
            </div>
        }
        <form class="facility__form" method="post">
            <div class="facility__form__group">
                <input class="input" type="text" name="name" placeholder="Name" value="@(Model.Facility != null ? Model.Facility.Name : null)" required />
            </div>
            <div class="facility__form__group">
                <input class="input" type="text" name="address" placeholder="Address" value="@(Model.Facility != null ? Model.Facility.Address : null)" />
            </div>
            <button class="facility__button" type="submit">
                Submit
            </button>
        </form>
    </div>
</div>