@page
@model DepInfoCare.Pages.Facility.IndexModel
@{
    ViewData["Title"] = "Facilities";
}

<h1>
    Facilities
</h1>

<ul>
    @foreach (var item in Model.Facilities)
    {
        <li>
            <a href="#">@item.Name</a>
        </li>
    }
</ul>

<a href="/facility/add">Add Facility</a>