@page
@model DepInfoCare.Pages.Facility.IndexModel
@{
    ViewData["Title"] = Model.Breadcrumb.Title;
}

<div class="wrapper">
    <div class="container">
        <div class="container__title">
            Select a Facility
        </div>
        <div class="facilities__list">
            @foreach (var item in Model.Facilities)
            {
                <div class="facilities__item">
                    <a class="facilities__item__title" href="/facility/@(item.Id)">
                        @item.Name
                    </a>
                    <div class="facilities__item__actions">
                        <a class="facilities__item__button facilities__item__button--edit" href="/facility/edit/@(item.Id)">
                            <i class="bi bi-hammer"></i>
                            <span>Edit</span>
                        </a>
                        <a class="facilities__item__button facilities__item__button--delete" href="/facility/delete/@(item.Id)">
                            <i class="bi bi-trash"></i>
                            <span>
                                Delete
                            </span>
                        </a>
                    </div>
                </div>
            }
        </div>
        <a class="facilities__button" href="/facility/add">
            Add Facility
        </a>
    </div>
</div>