// ==================================================================
// Variables
// ==================================================================

$white: #FFF !default;
$green: #2E7D32 !default;
$light-green: #4CAF50 !default;
$light-gray: #F4F4F4 !default;

// ==================================================================
// Navigation bar
// ==================================================================
.navbar {
    display: flex;
    flex-direction: column;
    background: $green;
}

.navbar__brand {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: $white;

    &:hover {
        color: $white;
    }
}

.navbar__list {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
}

.navbar__item {
    a {
        text-decoration: none;
        color: $white;

        &:hover {
            color: $light-green;
        }
    }
}

// ==================================================================
// Body
// ==================================================================

.body {
    overflow: hidden;
    margin: 0 auto;
    min-height: 768px;
    background: $light-gray;
}

// ==================================================================
// Footer
// ==================================================================

.footer {
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    background: $green;
    color: $white;
}

// ==================================================================
// Home
// ==================================================================

.home {
    text-align: center;
}

.home__welcome {
    margin-top: 60px;
    margin-bottom: 40px;
}

.home__welcome__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 26px;
    color: $green;
}

.home__welcome__description {
    margin-bottom: 20px;
}

.home__welcome__button {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: $white;
    background: $green;
    border-radius: 10px;

    &:hover {
        color: $white;
        background: $light-green;
    }
}

.home__cover-image {
    margin-bottom: 60px;

    img {
        width: 600px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }
}

.home__services {
    margin-bottom: 60px;
}

.home__services__title {
    margin-bottom: 30px;
    font-size: 30px;
}

.home__services__list {
    margin: 0 50px;
    display: flex;
    gap: 20px;
}

.home__services__item {
    padding: 50px 50px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.home__services__item__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}