.navbar {
  display: flex;
  flex-direction: column;
  background: #2E7D32;
}

.navbar__brand {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #FFF;
}
.navbar__brand:hover {
  color: #FFF;
}

.navbar__list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
}

.navbar__item a {
  text-decoration: none;
  color: #FFF;
}
.navbar__item a:hover {
  color: #4CAF50;
}

.body {
  overflow: hidden;
  min-height: 768px;
  background: #F4F4F4;
}

.footer {
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
  background: #2E7D32;
  color: #FFF;
}

.wrapper {
  margin: 0 auto;
  width: 600px;
}

.container {
  padding: 30px;
  margin-top: 30px;
  text-align: center;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.container__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  color: #2E7D32;
}

.container__message {
  margin-bottom: 20px;
  color: #F44336;
}

.button, .patient__form__button, .patients__button, .facility__form__button, .facilities__button, .login__button {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  background: #2E7D32;
  color: #FFF;
  border-radius: 10px;
  border: none;
}
.button:hover, .patient__form__button:hover, .patients__button:hover, .facility__form__button:hover, .facilities__button:hover, .login__button:hover {
  color: #FFF;
  background: #4CAF50;
}

.input, .patient__form__input, .facility__form__input, .login__input {
  padding: 10px 10px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #EEE;
}

.form__group, .patient__form__group, .facility__form__group, .login__form__group {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.breadcrumb {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.breadcrumb__item {
  text-decoration: none;
  color: #2E7D32;
}
.breadcrumb__item:hover {
  color: #4CAF50;
}

.breadcrumb__item:not([href]) {
  color: #BBB;
}

.home {
  text-align: center;
}

.home__welcome {
  margin-top: 60px;
  margin-bottom: 40px;
}

.home__welcome__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
  color: #2E7D32;
}

.home__welcome__description {
  margin-bottom: 20px;
}

.home__welcome__button {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #FFF;
  background: #2E7D32;
  border-radius: 10px;
}
.home__welcome__button:hover {
  color: #FFF;
  background: #4CAF50;
}

.home__cover-image {
  margin-bottom: 60px;
}
.home__cover-image img {
  width: 600px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.home__services {
  margin-bottom: 60px;
}

.home__services__title {
  margin-bottom: 30px;
  font-size: 30px;
}

.home__services__list {
  display: flex;
  gap: 20px;
  margin: 0 50px;
  justify-content: center;
}

.home__services__item {
  flex: 1;
  padding: 50px 50px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.home__services__item__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

.facilities__list, .patients__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.facilities__item, .patients__item {
  display: flex;
  gap: 5px;
}

.facilities__item__title {
  width: 100%;
  margin: 0;
  padding: 10px 10px;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  border-radius: 10px;
  border: 2px solid #EEE;
}
.facilities__item__title:hover {
  color: #FFF;
  background: #4CAF50;
}
.facilities__item__title:hover .facilities__item__title {
  color: #FFF;
}

.facilities__item__actions, .patients__item__actions {
  display: flex;
  gap: 5px;
}

.facilities__item__button, .patients__item__button {
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #EEE;
  color: #FFF;
}
.facilities__item__button:hover, .patients__item__button:hover {
  color: #FFF;
  opacity: 0.8;
}

.facilities__item__button--edit, .patients__item__button--edit {
  background: #2E7D32;
}

.facilities__item__button--delete, .patients__item__button--delete {
  background: #F44336;
}

.patients__item__info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  padding: 5px;
  text-decoration: none;
  text-align: left;
  color: #000;
  border-radius: 10px;
  border: 2px solid #EEE;
}
.patients__item__info:hover {
  color: #FFF;
  background: #4CAF50;
}
.patients__item__info:hover .patients__item__title {
  color: #FFF;
}

.patients__item__image {
  width: 46px;
}
.patients__item__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.patients__item__label {
  height: min-content;
}

.patients__item__title {
  height: min-content;
  font-weight: bold;
  font-size: 16px;
}

.patients__item__room {
  font-size: 12px;
  color: #4F4F4F;
}
.patients__item__room span {
  font-weight: bold;
}
